body {
    font-family: 'Perpetua Titling MT', 'sans-serif';
    padding-top: 83px;
    line-height: unset;
    color: #01374d;
    text-transform: uppercase;
}

.clear{
    clear: both;
}
#home,
#contact
{
text-shadow: 2px 2px #fff;
}

h3{
font-size: 24px;     
}

h1,h2{
font-size: 48px;  
 margin-bottom: 65px;    
}
p{
font-size: 24px;
font-weight: bold; 
}

.down-button a{
width: 70px;
height: 70px;
display: inline-block;
border-radius: 50%;
padding: 13px;
text-decoration: none;
transition-duration: 0.7s;
}


.down-button .rec{
width: 14px;
height: 45px;
display: inline-block;
background-color: #01374d;

}

.down-button .circle{
width: 25px;
height: 25px;
display: inline-block;
background-color: #01374d;
border-radius: 50%;
margin: 10px -10px;
}

.down-button a:hover{
background-color: #01374d;
    
}

.down-button a:hover > span{
background-color:#82ca9c;
}



/*Navbar Start*/

nav {
    background-color: #01374d;
    font-size: 24px;
    font-weight: lighter;

}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
    transition-duration: 0.2s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    padding-bottom: 4px;
    border-bottom: 3px solid;
    transition-duration: 0.2s;
}


/*Navbar End*/




   
/*Home Start*/
#home{
background-color: #82ca9c;    
}

#home .row .accounts{
background-color: #114956;    
}

#home .row .accounts a{
display: inline-block;
height: 60px;
width: 60px;
border-radius: 50%;
overflow: hidden;
opacity: 0.4;
margin: 5px 17px;    
transition-duration: 0.5s; 

}

#home .row .accounts a:hover{
opacity: 1;
      
}
#home .row .homeDesc .desc{
position: absolute;
margin-top: 250px;

}


#home .row .homeDesc .desc .rec{
width: 68px;
float: left;



}


#home .row .homeDesc .desc .rec span{
width: 12px;
height: 225px;
display: inline-block;
background-color: #01374d;
margin-left: 15px;
       
}



#home .row .homeDesc .desc .text{  
    float: right;
    width: calc(100% - 68px); 
    padding-left: 4px;
    
} 


   






#home .row .img{
text-align: right;

}


#home .row .homeDesc img{
float: right;
z-index: 1;
}

/*Home End*/
  
/*About me Start*/
#aboutMe .row{
padding-top: 150px;
}

#aboutMe .row .col-lg-5{
width: 420px;
background-color: #01374d;
}

#aboutMe .row .col-lg-7{
padding-top: 200px;
} 

#aboutMe .row .col-lg-7 .rec{
float: left;
width: 62px;
margin-right: 10px;
}
#aboutMe .row .col-lg-7 .rec span{
width: 12px;
height: 225px;
display: inline-block;
background-color: #01374d;
margin-left: 15px;     
}

#aboutMe .row .col-lg-7 .text{
float: right;
width: calc(98% - 62px); 
}

#aboutMe .row .col-lg-7 .text h2{
padding-right: calc(10%);
}


#aboutMe .row .down-button{
margin-top: 80px;
}
/*About me  End*/
  
   /*Services Start*/
   /*Services End*/
  
   /*Portfolio Start*/
   /*Portfolio End*/
  
   /*Contact Start*/
#contact{
background-color: #82ca9c;


    
}
   /*Contact End*/



