body {
    font-family: 'Perpetua Titling MT', 'sans-serif';
    padding-top: 83px;
    line-height: unset;
    color: #01374d;
}

.clear{
    clear: both;
}

/*Navbar Start*/

nav {
    background-color: #01374d;
    font-size: 24px;
    font-weight: lighter;
    text-transform: uppercase;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
    transition-duration: 0.2s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    padding-bottom: 4px;
    border-bottom: 3px solid;
    transition-duration: 0.2s;
}


/*Navbar End*/




   
/*Home Start*/
#home{
background-color: #82ca9c;
text-shadow: 2px 2px #fff;

    
}

#home .row .accounts{
background-color: #114956;    
}

#home .row .accounts a{
display: inline-block;
height: 60px;
width: 60px;
border-radius: 50%;
overflow: hidden;
opacity: 0.4;
margin: 5px 17px;    
transition-duration: 0.5s; 

}

#home .row .accounts a:hover{
opacity: 1;
      
}
#home .row .homeDesc .desc{
position: absolute;
margin-top: 250px;

}


#home .row .homeDesc .desc .rec{
width: 68px;
float: left;



}


#home .row .homeDesc .desc .rec span{
width: 12px;
height: 225px;
display: inline-block;
background-color: #01374d;
margin-left: 15px;
       
}



#home .row .homeDesc .desc .text{  
    float: right;
    width: calc(100% - 68px); 
    padding-left: 4px;
    
} 


#home .row .homeDesc .desc .text h3{
font-size: 24px;
      
}

#home .row .homeDesc .desc .text h1{

font-size: 48px;
margin-bottom: 65px;    
      
}
#home .row .homeDesc .desc .text p{
font-size: 24px;
font-weight: bold; 
}


#home .row .img{
text-align: right;

}


#home .row .homeDesc img{
float: right;
z-index: 1;
}

#home .row .down-button a{
width: 70px;
height: 70px;
display: inline-block;
border-radius: 50%;

padding: 13px;
text-decoration: none;
transition-duration: 0.7s;
}




#home .row .down-button .rec{
width: 14px;
height: 45px;
display: inline-block;
background-color: #01374d;

}

#home .row .down-button .circle{
width: 25px;
height: 25px;
display: inline-block;
background-color: #01374d;
border-radius: 50%;

margin: 10px -10px;
    
}

#home .row .down-button a:hover{
background-color: #01374d;
    
}

#home .row .down-button a:hover > span{
background-color:#82ca9c;
}


/*Home End*/
  
   /*About me Start*/
   /*About me  End*/
  
   /*Services Start*/
   /*Services End*/
  
   /*Portfolio Start*/
   /*Portfolio End*/
  
   /*Contact Start*/
   /*Contact End*/



